.editor {
   padding: 4px;
}

.toolbar {
   background: #f0f0f0;
   width: 98%;
   height: 45px;
   border: 1px solid #ccc;
   padding: 8px;
}

.textarea {
   width: 98%;
   height: 400px;
   border: 1px solid #ccc;
   background: white;
}