<div class="editor">
   <div class="toolbar">
      <button onclick="trf()"><i class="bold icon"></i></button>
      <button><i class="italic icon"></i></button>
      <button><i class="align left icon"></i></button>
      <button><i class="align right icon"></i></button>
      <button><i class="align center icon"></i></button>
   </div>
   <!--<div id="editor" class="textarea" contenteditable="true" (blur)="test()" #testInput>
      <span *ngFor="let x of stackOfStyles" [innerHTML]="x"></span>
   </div>-->
   <p class="tp">kkhkhkhkhpppp</p>
</div>

<input type="text" >
<button (click)="test()">test</button>

<!--<p>{{ stackOfStyles }}</p>-->

<div id="summernote">Hello Summernote</div>
